
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.audioStreaming">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <service
            android:name="com.audioStreaming.SignalService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="true"/>
    </application>
</manifest>
